// Colors
$color-primary-orange: #e9ab53;
$color-primary-red: #f15e50;
$color-off-white: #fffdfa;
$color-grayish-blue: #c5c6ce;
$color-grayish-blue-dark: #5d5f79;
$color-blue-dark: #00001a;

// Media
@mixin respond($breakpoint) {
  @if $breakpoint == desktop {
    @media (min-width: 1100px) {
      @content;
    }
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}

.container {
  max-width: 34.3rem;
  margin: 0 auto;

  @include respond(desktop) {
    max-width: 111rem;
  }
}
