.header {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: $color-off-white;
  padding-block: 2.8rem 3.2rem;

  @include respond(desktop) {
    position: relative;
    padding-block: 8.9rem 5.51rem;
  }

  &__menu {
    z-index: 2;
    cursor: pointer;

    @include respond(desktop) {
      display: none;
    }
  }
  &__nav {
    display: grid;
    position: fixed;
    width: 25.6rem;
    right: -25.6rem;
    top: 0;
    padding: 14.4rem 0 0 2.4rem;
    background-color: $color-off-white;
    height: 100vh;
    grid-template-rows: repeat(5, min-content);
    row-gap: 2.4rem;
    transition: 0.5s ease-in-out;
    z-index: 1;

    @include respond(desktop) {
      grid-template-columns: repeat(5, min-content);
      position: static;
      height: 100%;
      width: 100%;
      padding: 0;
      right: 0;
      row-gap: 0;
      align-content: center;
      column-gap: 4rem;
    }

    & a {
      text-decoration: none;
      color: $color-blue-dark;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.4rem;
      cursor: pointer;
      transition: all 0.2s;

      @include respond(desktop) {
        line-height: 2.6rem;
        font-size: 1.5rem;
        color: $color-grayish-blue-dark;
      }

      &:hover {
        color: $color-primary-red;
      }
    }
  }
}

.overlay {
  background-color: rgba(0, 0, 26, 0.5);
  position: fixed;
  height: 100%;
  width: 100vw;
  top: 0;
  left: 0;
}

.show {
  right: 0;
}

.hide {
  display: none;
}
