.main {
  margin-bottom: 8rem;

  @include respond(desktop) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-bottom: 12.7rem;
  }

  &__hero {
    margin-bottom: 2.4rem;
    height: 30rem;

    @include respond(desktop) {
      grid-column: 1 / 3;
      margin: 0;
    }
    &--img {
      height: 30rem;
    }
  }

  &__headline {
    margin-bottom: 1.6rem;

    @include respond(desktop) {
      margin: 0;

      & h1 {
        color: $color-blue-dark;
        font-weight: 800;
        font-size: 4rem;
        line-height: 4rem;

        @include respond(desktop) {
          font-size: 5.6rem;
          line-height: 5.6rem;
        }
      }
    }
  }

  &__cta {
    margin-bottom: 6.4rem;

    @include respond(desktop) {
      margin: 0;
    }
    &--text {
      font-weight: 400;
      line-height: 2.6rem;
      color: $color-grayish-blue-dark;
      margin-bottom: 2.4rem;
    }
    &--btn {
      width: 18.5rem;
      height: 4.8rem;
      border: none;
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 2.4rem;
      letter-spacing: 4.375px;
      color: $color-off-white;
      background-color: $color-primary-red;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background-color: $color-blue-dark;
      }
    }
  }

  &__new {
    background-color: $color-blue-dark;
    color: $color-off-white;
    padding: 2.4rem 2rem;
    margin-bottom: 6.4rem;

    @include respond(desktop) {
      grid-row: 1 / 3;
      grid-column: 3 / 4;
      margin: 0;
    }

    &--headline {
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 3.2rem;
      color: $color-primary-orange;
      margin-bottom: 3.5rem;
    }
    &--item {
      &-headline {
        font-weight: 800;
        font-size: 2rem;
        line-height: 2.4rem;
        margin-bottom: 0.8rem;
      }
      &-text {
        font-weight: 400;
        line-height: 2.6rem;
      }
      &:not(:first-child) {
        margin-top: 3rem;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $color-grayish-blue-dark;
        padding-bottom: 3rem;
      }
    }
  }

  &__article {
    display: grid;
    grid-template-columns: min-content 1fr;
    margin-bottom: 3.2rem;
    column-gap: 2.4rem;
    row-gap: 1.2rem;

    @include respond(desktop) {
      margin: 0;
    }

    &--img {
      height: 13rem;
      grid-row: 1 / 4;
    }
    &--index {
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 3.2rem;
      color: $color-grayish-blue;
    }
    &--headline {
      font-weight: 800;
      font-size: 1.8rem;
      line-height: 2.4rem;
      color: $color-blue-dark;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        color: $color-primary-red;
      }
    }
    &--text {
      font-weight: 400;
      line-height: 2.6rem;
      color: $color-grayish-blue-dark;
    }
  }
}
